<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Add a new service</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-dismissable alert-danger" style="display: none">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Oh snap!</strong> <a href="javascript:void(0)" class="alert-link">Change a few things up</a> and try submitting again.
            </div>


            <form class="form-horizontal" method="post" action="<?php echo BASE_URL; ?>/" name="addValue" id="addValue">
                <fieldset>
                    <legend></legend>
                    <div class="form-group">
                        <label for="inputSite" class="col-lg-2 control-label">Site</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputSite" placeholder="site" name="site" tabindex="1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="inputPassword" placeholder="password" name="key" tabindex="2"
                                   required>
                        </div>
                        <div class="col-lg-2">
                            <button id="generate" class="btn btn-material-pink">Generate</button>
                        </div>

                        <label for="inputKey" class="col-lg-2 control-label">Key</label>

                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputKey" placeholder="key" name="key" tabindex="3" required>
                        </div>

                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="mdi-navigation-check"></i> Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="<?php echo TPL_URL; ?>/js/add.js"></script>
