body {
    /*background-color: #fff;*/
    padding-top: 70px;
}
.load-bar {
    z-index: 1;
}
#smartContent {
    transition: all 300ms ease;
}
.animate {
    transform: translateY(5%)  scale(0.9);
    opacity: 0;
}
#actionButton {
    position: fixed;
    right: 10%;
    bottom: 10%;
}